In [19]:
import kafka
from kafka import KafkaProducer
from json import dumps
import xml.etree.ElementTree as ET

if __name__ == "__main__":

    tree = ET.parse('personne.xml')

    personne_liste = []
    root = tree.getroot()
    
    producer = KafkaProducer(bootstrap_servers=['localhost:9092'], 
                                 value_serializer=lambda x: dumps(x).encode('utf-8'))

    for child in root:
        personne_liste.append({'name': child.find('nom').text,'job': child.find('job').text })
        producer.send('topic-cr', value={'name': child.find('nom').text,'job': child.find('job').text }) 
    # ou :
    # producer.send('topic-cr', value=personne_liste)

In [13]:
import pandas as pd

df = pd.DataFrame(personne_liste)

In [14]:
df

     name            job
0  DUPONT  DataScientist
1  MOREAU          Clown
2   AGNES    Veterinaire